In [49]:
import numpy as np
import scipy.stats as stats
from statsmodels.stats.multicomp import pairwise_tukeyhsd
import pandas as pd

Провести дисперсионный анализ для определения того, есть ли различия среднего роста среди взрослых футболистов, хоккеистов и штангистов.
Даны значения роста в трех группах случайно выбранных спортсменов:

Футболисты: 173, 175, 180, 178, 177, 185, 183, 182.

Хоккеисты: 177, 179, 180, 188, 177, 172, 171, 184, 180.

Штангисты: 172, 173, 169, 177, 166, 180, 178, 177, 172, 166, 170.

In [24]:
football = np.array([173, 175, 180, 178, 177, 185, 183, 182])
hockey = np.array([177, 179, 180, 188, 177, 172, 171, 184, 180])
barbell = np.array([172, 173, 169, 177, 166, 180, 178, 177, 172, 166, 170])

In [3]:
stats.shapiro(football) #распределение нормальное

ShapiroResult(statistic=0.9775081276893616, pvalue=0.9495397210121155)

In [4]:
stats.shapiro(hockey) #распределение нормальное

ShapiroResult(statistic=0.9579195976257324, pvalue=0.7763133645057678)

In [5]:
stats.shapiro(barbell) #распределение нормальное

ShapiroResult(statistic=0.93868088722229, pvalue=0.5051169991493225)

In [15]:
len(football), len(hockey), len(barbell)

(8, 9, 11)

In [7]:
stats.bartlett(football, hockey, barbell) #нет статистически значимых различий между дисперсиями выборок

BartlettResult(statistic=0.4640521043406442, pvalue=0.7929254656083131)

In [8]:
stats.f_oneway(football, hockey, barbell) #при а=0.05 обнаружены статистически значимые различия в росте в зависимости от вида спорта

F_onewayResult(statistic=5.500053450812596, pvalue=0.010482206918698694)

In [47]:
new_football = np.insert(football, [4, 4, 4], np.mean(football))
new_hockey = np.insert(hockey, [5, 5], np.mean(hockey))

array([173, 175, 180, 178, 179, 179, 179, 177, 185, 183, 182])

In [51]:
df = pd.DataFrame({'score': list(np.hstack([new_football, new_hockey, barbell])),
                   'group': np.repeat(['football', 'hockey', 'barbell'], repeats=len(new_football))
                           })
df

    score     group
0     173  football
1     175  football
2     180  football
3     178  football
4     179  football
5     179  football
6     179  football
7     177  football
8     185  football
9     183  football
10    182  football
11    177    hockey
12    179    hockey
13    180    hockey
14    188    hockey
15    177    hockey
16    178    hockey
17    178    hockey
18    172    hockey
19    171    hockey
20    184    hockey
21    180    hockey
22    172   barbell
23    173   barbell
24    169   barbell
25    177   barbell
26    166   barbell
27    180   barbell
28    178   barbell
29    177   barbell
30    172   barbell
31    166   barbell
32    170   barbell

In [52]:
tukey = pairwise_tukeyhsd(endog=df['score'],
                         groups=df['group'],
                         alpha=0.05)
print(tukey) #при попытке подогнать выборки футболистов и хоккеистов под размер штангистов вышло, что статистически значимые различия в росте найдены между футболистами и штангистами

  Multiple Comparison of Means - Tukey HSD, FWER=0.05
========================================================
 group1   group2  meandiff p-adj   lower   upper  reject
--------------------------------------------------------
 barbell football   6.3636 0.0053  1.7513  10.976   True
 barbell   hockey   5.8182 0.0111  1.2058 10.4306   True
football   hockey  -0.5455    0.9 -5.1578  4.0669  False
--------------------------------------------------------